*.iml
.gradle
/local.properties
.DS_Store
/build
/app/release
/captures
.externalNativeBuild
.cxx
/.idea
/libs/nQuant/build
/.kotlin/errors/
/.kotlin

# Firebase
google-services.json

# Sentry
sentry.properties
